<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
</head>
<body>
  <%- include('./partails/profile')%>

 <%- include('./partails/sideBar')%>

 <%- include('./partails/addGames')%>


  <h1>Games</h1>
  <div class="game-list">
    <% if (games && games.length > 0) { %>
      
      <% games.forEach(game => { %>
        <div >
          <h3><%= game.name %></h3>

          <p>Price: $<%= game.price %></p>

          <p>In Stock: <%= game.inStok %></p>
        <p>Category: <%= game.categories ? game.categories.name : "Unknown" %></p> 
              <br>
         <img src="/uploads/<%= game.image %>" alt="Game Image" width="150" >

        <form action="/deleteMsg/<%= game.id %>" method="post">
          <button type="submit" >DELETE</button>
        </form>
        
        </div>
      <% }); %>
    <% } else { %>
      <p>No games available.</p>
    <% } %>
  </div>
    
</body>
</html>